    .navbar {
    border-bottom: 2px solid #88c527 !important;
    }

    .nav-link {
    color: #d5d5d3 !important;
    font-weight: 600;
    &:hover { color: #88c527 !important; }
    }

    .badge {
    font-size: 0.85rem !important;
    }